/* шрифты */
.bold {
     font-family: "font-bold";
}

.bold-italic {
    font-family: "font-bold-italic";
}

.regular {
    font-family: "font-regular";
}

.italic { 
    font-family: "font-italic";

}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* блок 1 */
.block_one {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* блок 2 */
.block_two {
    width: 1440px;
    height: 1024px;
    display: flex;
    background-color: rgb(240, 57, 113);

}

.name_one {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    margin-top: 30px;
    margin-left: 100px;
}

.disk_one {
    margin-top: 286px;
    margin-left: -670px;
}

.disk_two {
    margin-top: 202px;
    margin-left: -90px;
}

/* блок 3 */
.block_three {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 57, 113);
    margin: 0% auto;

}

.color-text-yellow {
    color: #FFF200;
}

.color-text-pink {
    color: #f03971;
}

.screen {
    width: 1240px;
    height: 856px;
    background-color: #FFF200;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.screen_black {
    width: 1140px;
    height: 806px;
    background-color: #000000;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.displaytext {
    width: 1140px;
    height: 806px;
    margin: 20px auto;

}
h1 {
    color: #ffffff;
    font-size: 60px;
}

.h1 {
   margin-top: 90px;
   margin-left: 244px;
}

.maintext {
 font-family: "font-regular";
 color: #ffffff;
 font-size: 40px;
 margin-top: 132px;
 margin-left: 66px;

}

/* блок 4 */
.block_four {
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-direction: column;
}


.author {
    width: 1340px;
    height: 773px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 100px;
}
.author_name {
    width: 422px;
    font-family: "font-bold-italic";
    color: #000000;
    font-size: 155px;
    text-shadow: 5px 4px rgba(240, 57, 113, 1);
    margin-right: 160px;
    display: flex;
    flex-direction: column;
    margin-top: 150px
}

.star {
    margin-right: -100px;
}

/* блок 5 */
.block_five {
    width: 1440px;
    height: 817px;
    display: flex;
    flex-direction: column;
}

.plane {
    width: 1200px;
    height: 197px;
    margin-left: 100px;
}

.number_year {
    font-family: "font-bold";
    color: #000000;
    font-size: 192px;
    margin-left: 100px;
    margin-top: 80px;
}

.year {
    font-family: "font-bold";
    color: #000000;
    font-size: 40px;
    margin-left: 100px;
    margin-top: -10px;
}

.city {
    width: 1442px;
    height: 388px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

/* блок 6 */
.block_six {
    width: 1440px;
    height: 1250px;
    background-color: rgb(240, 57, 113);
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.name_two {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    margin-left: 100px;
    margin-top: 30px;
}

.cassette {
    width: 1242px;
    height: 693px;
    margin: 0% auto;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.byauthor {
    font-family: "font-regular";
 color: #000000;
 font-size: 40px;
 bottom: -510px;
 position: relative;
 z-index: 2;
 text-align: center
}

.description {
    font-family: "font-regular";
 color: #FFF200;
 font-size: 40px;
 bottom: -624px;
 position: relative;
 z-index: 3;
 text-align: center
}

/* блок 7 */
.block_seven {
    width: 1440px;
    height: 937px;
    display: flex;
    flex-direction: column;
    
}

.up {
    width: 1440px;
    height: 170px;
    background-color: rgb(240, 57, 113);
    position: relative;
    z-index: 1;
}


.grotesque-1 {
    font-family: "font-bold";
    color: #f03971;
    font-size: 70px;
    margin-top: 70px;
    background-color: #FFF200;
    line-height: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1336px;
}

.grotesque-2 {
    font-family: "font-bold";
    color: #f03971;
    font-size: 70px;
    margin-left: 436px;
    margin-top: 30px;
    background-color: #FFF200;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 975px;
}

.solid-y-box {
    font-family: "font-bold";
    color: #FFC700;
    font-size: 70px;
    margin-left: 200px;
    margin-top: -180px;
    background-color: #FFC700;
    line-height: 80px;
    padding: 10px;
    position: relative;
    z-index: -1;
}

.text-srublen {
    margin: 0% auto;
    margin-top: 190px;
}

.grotesque-3 {
    font-family: "font-bold";
    color: #f03971;
    font-size: 70px;
    margin-left: 370px;
    background-color: #FFF200;
    margin-top: -200px;
    line-height: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1040px;
}

.grotesque-4 {

    font-family: "font-bold";
    color: #f03971;
    font-size: 70px;
    background-color: #FFC700;
    margin-top: 200px;
    line-height: 80px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: -1;
}

/* блок 8 */
.block_eight {
    width: 1440px;
    height: 1150px;
    display: flex;
    flex-direction: column;
    background-color: #f03971;
}

.name_three {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 100px;
}

.white_box {
    width: 1440px;
    height: 477px;
    background-color:#ffffff;
    margin-left: 0% auto;
    margin-top: 50px;
}

.PANK {
    font-size: 460px;
    font-family: "font-bold";
    color: #000000;

}

.text_box {
    width: 942px;
    height: 176px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 248px;
    margin-top: 34px;
}

.b1 {
    width: 204px;
    height: 176px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 96px;
    text-align: center;
    color: #131313;
}

.p_name-1 {
    font-family:"font-bold";
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.p_name-2 {
    font-family:"font-bold-italic";
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.p_name-3 {
    font-family:"font-regular";
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.p_name-4 {
    font-family:"font-italic";
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

/* блок 9 */
.block_nine {
    width: 1440px;
    height: 1024px;
    background-color: #f03971;
    display: flex;
    flex-direction: column;
}

.name_four {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    margin-top: 30px;
    margin-left: 100px;
}

.stars {
    width: 736px;
    height: 835px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.groupstar1 {
    margin-left: 70px;
    align-self: center;
    margin-top: 30px;
   

}

.groupstar2 {
    align-self: flex-start;
    margin-top: -320px;
}

.groupstar3 {
    align-self: flex-end;
    margin-top: -880px;
    margin-right: -10px;
}


.n981 {
    font-family: "font-bold";
    color: #000000;
    font-size: 220px;
    text-align: center;
    align-items: flex-end;
    margin-left: 70px;
    margin-top: -50px;

}

.textglifov {
    font-family: "font-bold";
    color: #000000;
    font-size: 64px;
    margin-left: 60px;
    text-align: center;
    margin-top: -30px;
    
}

.glifs {
    width: 706px;
    height: 929px;
    margin-top: -900px;
    margin-left: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column

}

.g1 {
    margin-left: 300px;
    margin-bottom: 0px;
}

.g2 {
    margin-left: 500px;
    margin-top: -150px;
}

.g3 {
    margin-left: 280px;
    margin-top: -40px;
}

.g4 {
    margin-left: 500px;
    margin-top: -80px;
}

.g5 {
    margin-left: 340px;
    margin-top: -150px;
}

.g6 {
    margin-left: 140px;
    margin-top: -250px;
}

.g7 {
    margin-left: 80px;
    margin-top: 30px;
}

.g8 {
    margin-left: 430px;
    margin-top: -200px;
}

.arrow1 {
    align-items: flex-end;
    margin-left: 540px;
    margin-top: -440px;

}

.arrow2 {
    align-items: flex-end;
    margin-left: 40px;
    margin-top: 330px;

}



/* блок 10 */
.block_ten {
    width: 1440px;
    height: 1024px;
    background-color: #f03971;
    display: flex;
    flex-direction: column;
}

.name_five {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    margin-top: 60px;
    margin-left: 100px;
}

.star2 {
    display: flex;
    align-self: flex-end;
    margin-top: -850px;
    margin-right: 93px;
}

.n67 {
    font-family: "font-bold";
    color: #000000;
    font-size: 220px;
    margin-left: -300px;
    margin-top: 350px;
    text-align: center;

}

.language {
    font-family: "font-bold";
    color: #000000;
    font-size: 64px;
    margin-left: -220px;
    margin-top: 540px;
    text-align: center;
}

.hallo {
    width: 830px;
    height: 640px;
    margin-left: 110px;
    margin-top: 10px;
    font-family:"font-regular";
    font-size: 64px;
    color: #000000;
    line-height: 90px;
}

.p1 {
    margin-left: 70px;
    
}

.p2 {
    margin-left: 170px;
    font-family:"font-regular";
    font-size: 64px;
    color: #000000;
    line-height: 90px;
}

.p3 {
    margin-left: 305px;
}

.p4 {
    margin-left: 160px;
}

.p5 {
    margin-left: 410px;
}


/* блок 11 */
.block_eleven {
    width: 1440px;
    height: 1200px;
    background-color: #f03971;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
}

.b01 {
    width: 456px;
    height: 728px;
    display: flex;
    align-items: left;
    margin-top: 50px;
    margin-left: 74px;

}

.b02 {
    
    height: 728px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 50px;
    margin-left: 74px;

}

.row {
    width: 1310px;
    height: 878px;
    display: flex;
    flex-direction: column;
}
.v1 {
    margin-left: 380px;
    margin-top: -660px;
     font-family:"font-regular";
    font-size: 40px;
    color: #000000;
    
}

.v2 {
    margin-left: -70px;
    margin-top: -420px;
    font-family:"font-regular";
    font-size: 40px;
    color: #000000;
    
    
}

.v3 {
    margin-left: -336px;
    margin-top: -230px;
    font-family:"font-regular";
    font-size: 40px;
    color: #000000;
    
}

.name_six {
    width: 589px;
    height: 207px;
    display: flex;
    align-items: left;
    margin-top: 30px;
    margin-left: 100px;
}

.count {
    width: 607px;
    height: 878px;
    position: relative;
    z-index: 1;
    margin-left: 830px;
    margin-top: -1400px;


}

h3 {
    font-family:"font-bold";
    font-size: 220px;
    color: #000000;
}

.h3_1 {
    color: #FFF200;
    letter-spacing: -50px;
}
.h3_2 {
    font-family:"font-regular";
    color: #FFF200;
    margin-left: 180px;
    letter-spacing: -50px;
}

.h3_3 {
    font-family: "font-bold-italic";
    color: #FFF200;
    letter-spacing: -50px;
}

/* блок 12 */
.blocktwelve {
    width: 1440px;
    height: 1000px;
    background-color: #f03971;
    display: flex;
    flex-direction: column;

}

.front {
    width: 1440px;
    height: 948px;
    position:relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
}

.star5 {
    margin-top: -380px;
}

.star6 {
    margin-top: -560px;
    
}

.paperclip2 {
    margin-top: -400px;
    margin-left: 483px;
}

.star5_1 {
    margin-top: -470px;
    margin-left: 90px;
    transform: scaleX(-1);
}

.diskpack {
    
    margin-left: 730px;
    align-self: flex-start;
}

.lightning2 {
    margin-left: -1360px;
    rotate: 65deg;
    align-self: flex-end;
    margin-bottom: 500px;
}

.huge {
    width: 1440px;
    height: 546px;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    align-self: center;
    position: relative;
    z-index: 3;
}
.w1 {
    font-family: "font-bold";
    font-size: 588px;
    margin-top: 180px;
    rotate: 5deg;
    margin-left: 50px;

}
.w2 {
    font-family: "font-bold";
    font-size: 588px;
    margin-top: 240px;
    rotate: -6deg;
    margin-left: -30px;
}

.w3 {
    font-family: "font-bold";
    font-size: 588px;
    margin-top: 50px;
    

}
.w4 {
    font-family: "font-bold";
    font-size: 588px;
    margin-top: 180px;
    rotate: 8deg;
    margin-left: -10px;
}

.sign {
    font-family: "font-bold";
    font-size: 588px;
    margin-top: 122px;
    margin-left: -100px;

}



.back {
    width: 1440px;
    height: 535px;
    margin-top: -700px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.disk3 {
    margin-top: -250px;
}

.paperclip {
    margin-top: -20px;
    margin-left: 72px;
}

.lightning {
    margin-top: 60px;
    margin-left: 309px;

}

.star4 {
    margin-left: -64px;
    margin-top: -260px;
}

/* подвал */
.basement {
    width: 1440px;
    height: 800px;
    background-color: #f03971;
    display: flex;
    flex-direction: column;

}

.hselogo {
    width: 1130px;
    height: 458px;
    margin-left: 155px;
    margin-top: 30px;
}

.mynameis {
    font-family: "font-regular";
    color: #FFF200;
    font-size: 40px;
    margin-left: 155px;
    margin-top: 80px;
}

